/* src/css/custom.css */

/* General styles */
.text-primary {
    color: #000000; /* Dark text color */
}

.text-secondary {
    color: #cbd5e0; /* Light text color */
}

/* Réduction de la taille des inputs et ajout des coins arrondis */
.input {
    border-color: #000000; /* Couleur de la bordure */
    background-color: #2d3748; /* Couleur de fond */
    color: #cbd5e0; /* Couleur du texte */
    padding: 4px 8px; /* Réduction du padding */
    font-size: 14px; /* Réduction de la taille du texte */
    border-radius: 6px; /* Coins arrondis */
}

/* Pour s'assurer que les inputs restent lisibles en mode clair */
[data-theme='light'] .input {
    color: #ffffff; 
}

/* Optionnel : réduire la hauteur des inputs et ajuster les bordures */
.input-bordered {
    height: 28px; /* Hauteur plus petite */
    border-width: 1px; /* Bordure plus fine */
}


[data-theme='light'] #panel {
    /* background-color: rgba(240, 233, 233, 0.819); */
    
}
/* [data-theme='light'] #nodes {
    background-color: rgba(240, 233, 233, 0.819);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    
}

[data-theme='dark'] #nodes {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url('/img/stars.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: none;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
} */


   
  